## Reading and Writing Data in Text Format

In [1]:
import pandas as pd
df = pd.read_csv('data.csv')                       # pd.read_table('data.txt', sep=',')
df                                                 # pd.read_table('data.txt', sep='\s+')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [ ]:
# pd.read_csv('ch06/ex2.csv', header=None)         if the file contains no headers.

In [4]:
names = ['a', 'b', 'c', 'd', 'message']
pd.read_csv('data.csv', names=names, index_col='message')

         a   b   c   d
message
message  a   b   c   d
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [3]:
parsed = pd.read_csv('data_multi.csv', index_col=['key1', 'key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [6]:
pd.read_csv('data1.csv', skiprows=[0, 2, 3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [4]:
result = pd.read_csv('data_null.csv')                # result = pd.read_csv('ch06/ex5.csv', na_values=['NULL'])  
result                                  # sentinels = {'message': ['foo', 'NA'], 'something': ['two']}

  something  a   b   c   d message
0       one  1   2   3   4      NA
1       two  5   6 NaN   8   world
2     three  9  10  11  12      foo

In [ ]:
pd.read_csv('data.csv', nrows=5)         # to read just 5 rows.

## Writing Data Out to Text Format

In [ ]:
df.to_csv('output.csv')                   # to output as CSV
df.to_csv(sys.stdout, sep='|')            # Print on console instead of file
df.to_csv(sys.stdout, na_rep='NULL')      # Replace NA with NULL
df.to_csv(sys.stdout, index=False, header=False)
df.to_csv(sys.stdout, index=False, cols=['a', 'b', 'c'])     # to write particular columns and in particular order

## Reading Microsoft Excel Files

In [6]:
# pip install xlrd
xls_file = pd.ExcelFile('data.xls')
table = xls_file.parse('Sheet1')
table

   Year Name Department  GPA
0  2001    A          Q  3.3
1  2004    B          P  3.5
2  2003    X          R  3.8
3  2002    Y          S  2.7