## Reading and Writing Data in Text Format

In [2]:
import pandas as pd
df = pd.read_csv('data.csv')                       # pd.read_table('ch06/ex1.csv', sep=',')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [4]:
names = ['a', 'b', 'c', 'd', 'message']
pd.read_csv('data.csv', names=names, index_col='message')

         a   b   c   d
message
message  a   b   c   d
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [6]:
pd.read_csv('data1.csv', skiprows=[0, 2, 3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo